body {
  font-family: arial, helvetica, sans-serif;
  line-height: 1.5;
  margin: 1.5em;
  width: 70vw;
}
code {
  background: #fff9;
  border: 1px solid #3335;
  border-radius: 4px;
  display: block;
  font-family: monospace;
  font-size: 12px;
  font-weight: 400;
  height: auto;
  padding: 1em;
  margin: 1.5em 0;
  width: max-content;
  text-decoration: none;
}

/* handles only the font property for both classes */
.border, .background {
  font-weight: 500;
  margin: 1em auto;
}

/* single class: border */
.border {
  background: azure;
  border: 1px solid red;
  border-radius: 4px;
  width: auto;
  height: auto;
  padding: 10px;
}

/* single class: background */
.background {
  background: #5552;
  border: 2px dashed green;
  padding: 20px;
}

/*
chaining classes
select all the elements that has
the border class and also the background class
*/
.border.background {
  background: #ff45;
  font-style: italic;
  font-size: 18px;
  text-transform: uppercase;
}


/*
it means that even the order of the classes
below are switched, it will apply all the styles
from above and below, to all the elements that
have class="border background", no matter in
which order they are called.
 */
.background.border {
 text-decoration: underline;
 color: darkorange;
}



/*
here we need two html elements for these classes
to work. The parent element will receive the
first class and the child element will receive
the second class.
hierarchy still applies.
*/
.background .border {
  background: #3063c955;
  font-weight: 900;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  height: auto;
  width: max-content;
  margin: 0 auto;
  padding: .5em;
}

.border .background {
  margin: 0 auto;
  padding: 2px;
  width: auto;
  height: auto;
  background: pink;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

#comment {
  text-transform: lowercase;
  text-decoration: none;
  width: max-content;
  color: #333;
}
.space {
  margin: 5em auto;
}

p {
font-weight: 900;
}
