.border, .background {
  font-weight: 800;
}

.border.background {
  font-style: italic;
}

.background.border {
 text-decoration: underline;
 color: tomato;
}

.border {
  width: auto;
  height: auto;
  background: white;
  padding: 10px;
  border: 1px solid red;
  background: turquoise;
}

.background {
  background: azure;
  margin: 5px;
  border: 2px solid green;
  padding: 20px;
}

.background .border {
  margin: 0 auto;
  padding: 2px;
  width: auto;
  height: auto;
  background: pink;
  font-weight: 900;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}

.border .background {
  margin: 0 auto;
  padding: 2px;
  width: auto;
  height: auto;
  background: pink;
  font-weight: 900;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}
