body {
  font-family: arial, helvetica, sans-serif;
  line-height: 1.5;
}
code {
  display: block;
  font-family: monospace;
  font-size: 12px;
  font-weight: 400;
  background: #fff9;
  padding: 1em;
  border: 1px solid #3335;
  margin: 1em 0;
  width: max-content;
  height: auto;
  border-radius: 4px;
}

/* handles only the font property for both classes */
.border, .background {
  font-weight: 500;
}

.border {
  width: auto;
  height: auto;
  background: white;
  padding: 10px;
  border: 1px solid red;
  background: turquoise;
}

.background {
  background: #5552;
  margin: 5px;
  border: 2px dashed green;
  padding: 20px;
}

.border.background {
  font-style: italic;
  font-size: 18px;
}

.background.border {
 text-decoration: underline;
 color: tomato;
}

.background .border {
  margin: 0 auto;
  padding: 2px;
  width: auto;
  height: auto;
  background: pink;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.border .background {
  margin: 0 auto;
  padding: 2px;
  width: auto;
  height: auto;
  background: pink;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
